# Ignore Visual Studio Code settings
.vscode/

# Ignore test cases and code directories
Code/testcases/
./Code/nasm*/
./Code/nasm_tutorial/

# Ignore specific file types
*.out
*.o
main

# Ignore misc types
*copy*